html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/bg.png");
}

.header {
    padding: 15px 20px;
    background-color: #b5b9a3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header__title {
    font-size: 18px;
}

.header__soundBtn {
    position: absolute;
    right: 10px;
}

.header__soundBtn,
.header__soundImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.intro__box {
    display: flex;
    justify-content: center;
}

.inro__title--img1 {
    width: 100%;
}

.intro__title--img2 {
    width: 200px !important;
}

.intro__title--img3 {
    opacity: 0;
    animation-name: fadeEffect;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.images {
    width: 100%;
}

.couple__box {
    margin: 50px 0px;
    color: #3e3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__bottom {
    color: #3e3e3e;
    font-family: "GyeonggiBatang", sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#gallery {
    width: 100%;
}

.gallery__images {
    width: 100%;
}

.gallery__image {
    height: 100px;
    object-fit: cover;
}

.grid_wrapper {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* useful */

.hidden {
    display: none;
}
.w100 {
    width: 100%;
}

.pa7 {
    padding: 7px;
}

.pt40 {
    padding-top: 40px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb40 {
    padding-bottom: 40px;
}

.fwb {
    font-weight: bold;
}

.fs12 {
    font-size: 1.2em;
}

.fs18 {
    font-size: 1.8em;
}

.fs06 {
    font-size: 0.6em;
}

.fc24 {
    font-family: "Cafe24Oneprettynight", sans-serif !important;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

/* animation */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* fonts */
@font-face {
    font-family: "Cafe24Oneprettynight"; 
    src: url("../fonts/Cafe24Oneprettynight.ttf");
}

@font-face {
    font-family: "GyeonggiBatang";
    src: url("../fonts/GyeonggiBatang.woff");
}
